html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    transition: 0.3s;
}

.container {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    height: auto !important;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #D3CBC5;
    height: 79px;
    margin-bottom: 46px;
}

nav {
    max-width: 1135px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_link {
    text-decoration: none;
}

.logo_link h1 {
    margin: 0px;
}

.logo p:hover {
    transition: 0.3s;
    font-size: 26px;
}

.logo {
    display: flex;
    flex-direction: row;
    padding-top: 24px;
    padding-bottom: 0px;
}

.logo p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.first_letter {
    background-color: black;
    color: #FFF8F8;
}

.other_letters {
    color: #555555;
}

.nav {
    width: 454px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 28px;
}

.nav a {
    color: #1B1A1A;
    text-decoration: none;
}

.nav a:first-child::after {
    content: '';
    background-color: #1B1A1A;;
    height: 1px;
    display: block;
}

.nav a:hover::after {
    content: '';
    background-color: #1B1A1A;;
    height: 1px;
    display: block;
}

.nav p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.icons {
    width: 65px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 38px;
}

.icons a img:hover {
    width: 25px;
    height: 20px;
    transition: 0.3s;
}

main {
    background-color: #FFFFFF;
    flex-grow: 1;
    width: 100%;
}

.main {
    max-width: 1141px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 145px;
    justify-content: space-between;
    align-items: center;
    height: 18px;
}

.line {
    border-bottom: 1.6px solid #9A6437;
    width: 55px;
}

.menu p {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #9A6437;
}

.switcher p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 42px;
    font-weight: normal;
}

.switcher {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.switcher_nav {
    width: 221px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.switcher_nav a {
    text-decoration: none;
    color: #353535;
    padding: 5px 10px;
}

.switcher_nav a:hover {
    background-color: #1B1A1A;
    color: #FFFFFF;
    padding: 5px 10px;
}

.switcher_nav a:first-child {
    background-color: #1B1A1A;
    color: #FFFFFF;
    padding: 5px 10px;
}

.switcher_nav p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.cards {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 270px;
    height: 345px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.card:hover .card_img {
    width: 70%;
    height: 70%;
    padding-top: 15%;
    transition: 0.5s;
}

.back {
    width: 270px;
    height: 258px;
    background-color: #F7F7F7;
    border-radius: 20px;
    border-radius: 20px;
    background: linear-gradient(180deg, #F7F7F7 0%, rgba(247, 247, 247, 0.00) 100%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.chair {
    width: 270px;
    height: 258px;
    position: absolute;
}

.card_img{
    padding-top: 20%;
    display: block;
    margin: auto;
}

.choose {
    width: 240px;
    height: 33px;
    background-color: #1B1A1A;
    position: absolute;
    z-index: 9;
    top: 240px;
    left: 15px;
}

.tovar {
    position: absolute;
    top: 280px;
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
    flex-direction: row;
    width: 270px;
    height: 28px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 9px;
}

.name p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.price {
    display: flex;
    flex-direction: row;
    width: 106px;
    justify-content: space-between;
}

.price p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.crossed {
    color: #737373;
    text-decoration: line-through;
}

.iconsss {
    width: 88px;
    height: 14px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
}

.iconsss img {
    width: fit-content;
}

.iconsss img:hover {
    height: 17px;
}

footer {
    height: 391px;
    background-color: #D9D9D9;
    padding-top: 55px;
}

.footer {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logo_footer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-decoration: none;
    margin-bottom: 45px;
}

.logo_footer p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.footer_large_text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-size: 36px;
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
    color: #1B1A1A;
}

.footer_small_text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 20%;
    color: #5E5E5E;
}

.input {
    width: 275px;
    height: 37px;
    border: 0.8px solid #5A5A5A;
    border-radius: 4px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: #8E8E8E;
    padding-left: 13px;
    background-color: #D9D9D9;
    margin-right: 10px;
}

.button {
    width: 127px;
    height: 40.5px;
    border: 0.8px solid #5A5A5A;
    border-radius: 4px;
    color: #1B1A1A;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #D9D9D9;
}

.button:hover {
    color: #D9D9D9;
    background-color: #1B1A1A;
}

form {
    width: 412px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.navbar_toggler {
    display: none;
    margin-top: 22px;
    background-color: #D3CBC5;
    border: none;
    cursor: pointer;
}

.none {
    display: none;
}

@media (max-width: 1210px) {
    .cards {
        width: 90%;
    }
    nav, .main {
        margin-right: 29px;
        margin-left: 29px;
    }
}

@media (max-width: 1025px) {
    .cards {
        width: 80%;
    }
    .footer_small_text {
        width: 30%;
    }
}

@media (max-width: 815px) {
    .nav, .icons {
        display: none;
    }
    .navbar_toggler {
        display: block;
        height: 30px;
    }
    .nav {
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .show {
        display: block;
    }
    .header {
        padding-bottom: 80px;
    }
}

@media (max-width: 780px) {
    .cards {
        width: 60%;
    }
    .card {
        margin: 0 auto;
        margin-bottom: 48px;
    }
    .footer_small_text {
        width: 50%;
    }
    .main {
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media (max-width: 500px) {
    .switcher {
        flex-direction: column;
        margin-bottom: 42px;
    }
    .best {
        padding: 0;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    form {
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    form input {
        margin-bottom: 10px;
    }
    .main {
        margin-right: 5px;
        margin-left: 5px;
    }
}

@media (max-width: 470px) {
    .cards {
        flex-direction: column;
        align-items: center;
        margin: 0;
        justify-content: center;
        margin-left: 15%;
    }
    .card {
        
    }
}